<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>RemoteJobFinder</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-light navbar-light border-bottom border-dark mb-5">
    <a href="{{ url_for('search') }}" class="navbar-brand">
        <h3 class="mb-0"><strong>Remote</strong>JobFinder</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="mainNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ url_for('about') }}" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('submit') }}" class="nav-link">Submit Your Jobs</a>
            </li>
        </ul>
    </div>
    <form action="" method="post" class="form-inline d-none d-lg-inline" novalidate>
      {{ form.hidden_tag() }}
        <div id="searchBar" class="input-group">
          {{ form.search(type="text", class="form-control px-5", placeholder="Search Remote Jobs", id="") }}
            <div class="input-group-append">
              {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
  </nav>

<div class="container">
  <div id="submitJobs" class="cognito">
  <script src="https://services.cognitoforms.com/s/FDpZvSepVUuMReEUCWpVDw"></script>
  <script>Cognito.load("forms", { id: "1" });</script>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
